@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  list-style: none;
}
@font-face {
  font-family: Truculenta;
  src: url("/fonts/Truculenta-VariableFont_opsz,wdth,wght.ttf");
}


html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Truculenta", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
  background: var(--tertiary);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* CONTAINER */

.container {
  max-width: 120rem;
  padding: 1.5rem;
  margin: 0 auto;
}

/* HOME-PAGE */

/* HEADER */

.header {
  box-shadow: 0 1rem 1rem -1rem var(--dark);
  position: relative;
}

.header .header_wrapper {
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_nav ul {
  display: flex;
  gap: 3rem;
}

.header .header_nav ul li a {
  font-size: 2rem;
  color: var(--dark);
  font-weight: bold;
}

.header .header_nav ul li.active a {
  color: var(--primary);
}

.header .toggle_menu {
  display: none;
}

.header .toggle_menu span {
  width: 3rem;
  height: 1rem;
  background: var(--secondary);
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}

.header .toggle_menu span:nth-child(2) {
  margin: 0.3rem 0;
  background: rgba(120, 16, 16, 0.308);
}

.header .toggle_menu.open span:first-child {
  transform: translate(0, 10px) rotate(45deg);
  transition: 0.5s ease;
}

.header .toggle_menu.open span:nth-child(2) {
  /* visibility: hidden; */
  opacity: 0;
  transition: 0.5s ease;
}

.header .toggle_menu.open span:last-child {
  transform: translate(0, -16px) rotate(-45deg);
  transition: 0.5s ease;
}

.header .header_nav.open {
  right: 0;
  transition: 0.5s ease;
}

@media screen and (max-width: 500px) {

  .header .header_logo {
    display: block;
    margin: 0 auto;
  }

  .header .header_nav {
    background: var(--dark);
    position: absolute;
    top: 12.5rem;
    right: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: 0.5s ease;
  }

  .header .header_nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header .header_nav ul li a {
    font-size: 3rem;
    color: var(--light);
  }

  .header .toggle_menu {
    display: block;
  }

}

/* TOP */

.top {
  z-index: -1;
  background-color: var(--secondary);
  padding: 1.5rem 0;
}

.top .top_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top .top_wrapper p {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.top .top_wrapper h2 {
  font-size: 4rem;
  font-weight: bold;
  width: 15rem;
  text-align: center;
  letter-spacing: 1rem;
  line-height: 3rem;
}

/* BANNER */

.banner .banner_wrapper {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 15rem;
  gap: 10rem;
}

.banner .banner_content ul li {
  font-size: 6rem;
  line-height: 5rem;
  max-width:50rem;
}

.banner .banner_content ul li:nth-child(1) {
  color: var(--primary);
  font-weight: bold;
  margin-left: 10rem;
}

.banner .banner_content ul li:nth-child(2) {
  color: var(--secondary);
  font-weight: bold;
  text-align: center;
}

.banner .banner_content ul li:nth-child(3) {
  color: var(--primary);
  font-weight: 100;
  text-align: end;
  position: relative;
}

.banner .banner_content span::before {
  content: "";
  display: block;
  background: var(--primary);
  width: 25rem;
  height: .3rem;
  position: absolute;
  top: 60%;
  left: 0;
}

.banner .btn {
  margin: 0 5rem;
}

.banner .banner_content p {
  max-width: 50rem;
  text-align: justify;
  padding: 5rem 0;
}

.banner .banner_imgs {
  display: flex;
  gap: 1rem;
}

.banner .banner_imgs img:last-child {
  position: relative;
  top: 10rem;
}

@media screen and (max-width:500px) {

  .banner {
    margin: 0 3rem;
  }

  .banner .banner_content ul li:nth-child(1) {
    margin-left: 5rem;
  }

  .banner .banner_content span::before {
    width: 15rem;
  }

  .banner .banner_imgs {
    display: none;
  }

  .banner .btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }

}

/* ABOUT */

.about {
  background: var(--dark);
}

.about h2 {
  color: var(--primary);
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: end;
  position: relative;
}

.about h2 span::before {
  content: "";
  display: block;
  background: var(--primary);
  width: 90rem;
  height: .3rem;
  top: 50%;
  left: 0;
  position: absolute;
}

.about .about_wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0;
}

.about .about_text p {
  margin: 1rem 0;
  color: var(--light);
  text-align: justify;
}

@media screen and (max-width: 500px) {
  
  .about {
    padding: 0 3rem;
  }

  .about h2 span::before{
    width: 18rem;
  }

  .about .about_wrapper {
    flex-direction: column;
  }

  .about .about_wrapper img {
    width: 100%;
  }

  .about .about_text p:nth-child(2),
  .about .about_text p:nth-child(3),
  .about .about_text p:nth-child(4) {
    display: none;
  }

}

/* CATALOGS */

.catalogs {
  padding-bottom: 5rem;
}

.catalogs h2 {
  color: var(--primary);
  font-size: 3rem;
  font-weight: bold;
  padding: 5rem 0;
  position: relative;
}

.catalogs h2 span::before {
  content: "";
  display: block;
  background: var(--primary);
  width: 100rem;
  height: .3rem;
  top: 50%;
  right: 0;
  position: absolute;
}

.catalogs .catalogs_wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {

  .catalogs {
    margin: 0 3rem;
  }

  .catalogs h2 span::before {
    width: 28rem;
  }

  .catalogs .catalogs_wrapper {
    flex-direction: column;
    gap: 3rem;
  }

}

/* CONTACTUS */

.contactus {
  background: var(--primary);
  padding: 1rem 0;
}

.contactus .contactus_wrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
}

.contactus .contactus_wrapper h3 {
  font-size: 2rem;
  color: var(--light);
  font-weight: bold;
}

.contactus .contactus_wrapper p {
  color: var(--light);
}
.contactus .btn {
  margin: 1rem 0;
}

@media screen and (max-width: 500px) {

  .contactus {
    padding: 0 3rem;
  }

  .contactus .contactus_wrapper p {
    text-align: center;
  }

}

/* FOOTER */

.footer {
  background: var(--dark);
  padding: 3rem 0;
}

.footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer_icons ul {
  display: flex;
  gap: 1rem;
}

.footer .footer_icons ul li a {
  font-size: 2.5rem;
  color: var(--light);
}

.footer .footer_loc {
  color: var(--light);
  font-family: sans-serif;
}

.footer .footer_cred {
  color: var(--light);
  font-family: sans-serif;
}

@media screen and (max-width: 500px) {

  .footer {
    padding: 3rem;
  }

  .footer .footer_wrapper {
    flex-direction: column-reverse;
    gap: 3rem;
    text-align: center;
  }

}

/* CONTACTS-PAGE */

/* ABTBANNER */

.abtBanner .abtBanner_wrapper {
  display: flex;
  gap: 10rem;
  align-items: center;
  padding: 5rem 0;
}

.abtBanner .abtBanner_img p {
  font-family: sans-serif;
  font-weight: bold;
  text-align: end;
  position: relative;
}

.abtBanner .abtBanner_img span::before {
  content: "";
  display: block;
  width: 31rem;
  height: 2px;
  background: var(--dark);
  position: absolute;
  top: 50%;
}

.abtBanner .abtBanner_txt {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.abtBanner .abtBanner_txt h2 {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1rem;
}

.abtBanner .abtBanner_txt p {
  width: 60rem;
  text-align: justify;
}

.abtBanner .abtBanner_txt ul {
  display: flex;
  gap: 1rem;
}

.abtBanner .abtBanner_txt ul li a {
  font-size: 3rem;
  color: var(--dark);
}

@media screen and (max-width: 500px) {

  .abtBanner {
    margin: 0 3rem;
  }

  .abtBanner .abtBanner_wrapper {
    flex-direction: column;
  }

  .abtBanner .abtBanner_img span::before {
    width: 25rem;
  }

  .abtBanner .abtBanner_txt {
    text-align: center;
    gap: 3rem;
  }

  .abtBanner .abtBanner_txt p {
    width: fit-content;
  }

  .abtBanner .abtBanner_txt ul {
    justify-content: center;
  }

}

/* ABTCARDS */

.abtCards {
  background: var(--dark);
  padding: 5rem 0;
}

.abtCards h2 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--primary);
}

.abtCards p {
  color: var(--light);
  font-family: sans-serif;
  padding: 3rem 0;
}

.abtCards .abtCards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.abtCards .abtCards_top,
.abtCards .abtCards_bot {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

@media screen and (max-width: 500px) {

  .abtCards {
    padding: 0 3rem;
  }

  .abtCards h2 {
    text-align: center;
  }

  .abtCards .abtCards_top {
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .abtCards .abtCards_bot {
    display: none;
  }

}

/* CATALOG-PAGE */

/* CTLGBANNER */

.ctlgBanner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),  url(./img/catalog-banner.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctlgBanner .ctlgBanner_text h2 {
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.ctlgBanner .ctlgBanner_text h3 {
  color: var(--dark);
  font-size: 3rem;
  width: 40rem;
  text-align: center;
}



/* CTLGCONTENT */

.ctlgContent {
  background: var(--light);
}

.ctlgContent h2 {
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem 0 10rem;
}

.ctlgContent .ctlgContent_content {
  display: flex;
  flex-direction: row;
  gap: 13rem;
  align-items: center;
  padding: 4.1rem 0;
}

.ctlgContent .ctlgContent_content:nth-child(2) {
  flex-direction: row-reverse;
}

.ctlgContent .ctlgContent_img {
  position: relative;
  z-index: 10;
}

.ctlgContent .ctlgContent_img::before {
  content: "";
  display: block;
  background: var(--secondary);
  width: 100vw;
  height: 51rem;
  position: absolute;
  top: -15%;
  right: 10rem;
  z-index: -1;
}

.ctlgContent .ctlgContent_content:nth-child(2) .ctlgContent_img::before {
  left: 10rem;
}

.ctlgContent .ctlgContent_txt h3 {
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.ctlgContent .ctlgContent_txt p {
  width: 50rem;
  text-align: justify;
  padding-top: 5rem;
}

/* UPDATES-PAGE */

/* UPDTBANNER */

.updtBanner {
  padding: 5rem 0;
  background: var(--light);
}
.updtBanner .updtBanner_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10rem;
}

.updtBanner .updtBanner_txt h2 {
  color: var(--primary);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem 0;
}

.updtBanner .updtBanner_txt p {
  width: 50rem;
  text-align: justify;
}

@media screen and (max-width: 500px) {

  

}

/* UPDTCARD */

.updtCard {
  background: var(--light);
  padding: 3rem 0;
}

.updtCard .updtCard_wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.updtCard .updtCard_wrapper h2 {
  color: var(--secondary);
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem 0;
}

.updtCard .updtCard_cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.updtCard .updtCard_table table tr td {
  width: 20rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

/* RECPROJ */

.recProj {
  background: var(--light);
  padding: 5rem 0;
}

.recProj h2 {
  color: var(--primary);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.recProj .recProj_wrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.recProj .recProj_cap {
  display: flex;
  justify-content: space-between;
}

.recProj .recProj_left,
.recProj .recProj_right {
  display: flex;
  gap: 1rem;
  color: var(--dark);
  font-weight: bold;
}

.recProj .recProj_left a,
.recProj .recProj_right a {
  color: var(--dark);
}



/* CONTACTS-PAGE */

/* CONTACTS */

.contacts .contacts_wrapper {
  display: flex;
  gap: 15rem;
  align-items: center;
  padding: 3rem 0 10rem;
}

.contacts h2 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--primary);
  padding-top: 5rem;
}

.contacts .contacts_input {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contacts .contacts_input p {
  font-size: 2rem;
}

.contacts .contacts_input input,
.contacts .contacts_input textarea {
  background: var(--tertiary);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1rem;
  font-family: "Truculenta", sans-serif;
  font-size: 2rem;
}

.contacts .contacts_input textarea {
  padding-bottom: 10rem;
}

.contacts .contacts_input button {
  background: var(--dark);
  color: var(--light);
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 5rem;
  font-family: "Truculenta";
  font-size: 2rem;
  letter-spacing: 1rem;
}

.contacts .contacts_info {
  background: var(--dark);
  padding: 5rem;
  width: 45rem;
}

.contacts .contacts_info h3 {
  font-size: 3rem;
  color: var(--light);
  padding-bottom: 1rem;
}

.contacts .contacts_info ul li a {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem 0;
}

.contacts .contacts_info ul li a i {
  font-size: 3rem;
  color: var(--secondary);
  width: 5rem;
  text-align: center;
}

.contacts .contacts_info ul li a p {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--light);
}

@media screen and (max-width: 500px) {

  .contacts {
    margin: 0 3rem;
  }

  .contacts h2 {
    text-align: center;
  }

  .contacts .contacts_wrapper {
    flex-direction: column;
  }

  .contacts .contacts_input p {
    text-align: center;
  }

}

/* REPEATABLE PATTERS */

:root {
  --font: "Truculenta", sans-serif;
  --dark: #2b2b2b;
  --light: #fff;
  --primary: #1b8b83;
  --secondary: #cfa584;
  --tertiary: #d9d9d9;
}

.btn {
  background: var(--light);
  color: var(--dark);
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  box-shadow: 0 .5rem 1rem 0 var(--dark);
  transition: 0.5s ease;
}

.btn:hover {
  background: var(--light);
  color: var(--primary);
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  box-shadow: 0 .5rem 1rem 0 var(--dark);
  transition: 0.5s ease;
}

.catalogs_card {
  max-width: 38rem;
  background: var(--light);
  box-shadow: 0 1rem 1rem -1rem var(--dark);
  transition: 0.5s ease;
}

.catalogs_card img {
  width: 100%;
}

.catalogs_text {
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  transition: 0.5s ease;
}

.catalogs_card h3 {
  color: var(--secondary);
  font-weight: bold;
  font-size: 2rem;
}

.catalogs_card p {
  color: var(--dark);
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

.catalogs_card a {
  color: var(--dark);
  padding-bottom: 1rem;
}

.updtCard_block {
  background: var(--tertiary);
  width: fit-content;
  padding: 2rem 5rem;
}

.updtCard_block h3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.updtCard_block p {
  width: 25rem;
  text-align: justify;
  padding: 1rem 0;
}

.updtCard_block a {
  font-size: 3rem;
  color: var(--dark);
  display: flex;
  justify-content: flex-end;
}